.animatedCard {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  background: white;
  opacity: 0;
  transform: translateY(50px);
  animation: fadeUp 1s ease forwards;
  animation-delay: 0.3s;
}

@keyframes fadeUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.imageWrapper {
  width: 100%;
  max-width: 200px;
  margin: 3rem auto;
  overflow: hidden;
  border-radius: 10px;
}

.cardImage {
  width: 100%;
  height: auto;
  display: block;
  transition: transform 0.5s ease;
  cursor: pointer;
}

.content {
  padding: 1.25rem;
  text-align: center;
}

.title {
  font-size: 1.5rem;
  color: #202020;
  margin: 0 0 10px;
}

.text {
  font-size: 1rem;
  color: #555;
  margin-bottom: 1rem;
}

.author {
  font-size: 0.875rem;
  color: #999;
  text-align: right;
}
